[req]
default_bits  = 4096
default_md = sha256
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = IN
ST = HR
L = Denver
O = RedHat
OU = Summit
CN = 192.168.150.1
[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
IP.1 = 192.168.150.1
DNS.1 = hypervisor
DNS.2 = summit.registry
